.board-item {
  display: grid;
  grid-template-columns: 2fr 2fr;
  float: left;
  background: white;
  margin: 10px;
}

// @media screen and (min-width: 668px) {
//   display: grid;
//   grid-template-columns: repeat(4, 2fr);
// }
